* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: system-ui;
}

:root {
  --section-padding-top: 1rem;
  --section-padding-bottom: 1rem;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 3rem;
}

.container-ful--width {
  max-width: 100%;
}

.section-padding {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
}

img {
  max-width: 100%;
}

#anouncement-bar {
  background-color: brown;
  color: white;
  padding: 0.5rem;
  text-align: center;
  font-weight: 400;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
}

ul {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
}

.nav-logo {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  padding: 1rem;
  grid-template-areas: " mobile-nav-icon  logo navigation header-icon";
}

.nav-logo2 {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr;
  align-items: center;
  padding: 1rem;
  grid-template-areas: " mobile-nav-icon logo navigation  header-icon";
}
.mobi le-nav {
  grid-area: "mobile-nav-icon";
}
.mobile-nav-links {
  width: 100%;
  height: 100%;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  background-color: rgba(72, 68, 68, 0.1);
}
.mob_links_container {
  background-color: rgba(255, 255, 255, 1);
  transform: translateX(-3rem);
  opacity: 0;
  transition: all 0.4s ease-in;
  padding-top: 2rem;
  width: 100%;
  height: 100%;
  max-width: 36rem;
}
details[open] .mob_links_container {
  transform: translate(0);
  opacity: 1;
}
.mob_links {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  padding-top: 4rem;
  gap: 2rem;
  max-width: 100%;
  height: 100%;
}
.x-icon {
  max-width: 100%;
  position: absolute;
  top: 4rem;
  right: 2rem;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 2rem;
}
/* .x-icon span {
  display: inline;
  width: 2rem;
  height: 2rem;
} */
.x-icon svg.cros-icon {
  width: 100%;
  height: 100%;
}
.mob_links a {
  color: black;
  border-bottom: 2px solid rgba(72, 68, 68, 0.1);
}
.link {
  display: inline-block;
  text-align: center;
  width: 100%;
  text-decoration: none;
  grid-area: navigation;
}
.link a {
  color: black;
  padding: 0.5rem;
}

.header-img {
  grid-area: logo;
}
.header-icon {
  grid-area: header-icon;
}

.header {
  display: grid;
  grid-template-areas: "left-icon heading icons";
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header--top-center {
  grid-template-areas: "left-icon heading icons";
}
.header--middle-left {
  grid-template-areas: "heading navigation icons";
  grid-template-columns: auto 1fr auto;
  column-gap: 2rem;
}
@media screen and (min-width: 990px) {
  .header--top-left {
    grid-template-areas:
      "heading icons"
      "navigation navigation";
    grid-template-columns: 1fr auto;
  }
}

@media only screen and (max-width: 700px) {
  .link {
    display: block;
  }
  .link {
    display: none;
  }
}

@media only screen and (min-width: 701px) {
  .mobile-nav {
    display: none;
  }
}

/* bannar */
.banner {
  max-width: 100vw;
  background-color: rgba(234, 228, 240, 0.804);
}
.banner img {
  width: 100%;
}
.banner-button {
  padding: 1rem 8rem;
  background-color: #ca9a5a;
  color: aliceblue;
  border-radius: 29px;
  outline: none;
  border: none;
}
.banner-text {
  /* transform: translateY(-50%); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 100%;
  gap: 1rem;
}
.banner-text h1 {
  font-size: clamp(50px, 5vw, 82px);
  font-weight: 400;
}

.banner p {
  margin: 0 auto;
  align-items: center;
  width: 60%;
}
@media all and (min-width: 750px) {
  .banner {
    display: flex;
  }
}
