* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: system-ui;
}

:root {
  --section-padding-top: 1rem;
  --section-padding-bottom: 1rem;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 3rem;
}

.container-ful--width {
  max-width: 100%;
}

.section-padding {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
}

img {
  max-width: 100%;
}

#anouncement-bar {
  background-color: brown;
  color: white;
  padding: 0.5rem;
  text-align: center;
  font-weight: 400;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
}

ul {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
}

.nav-logo {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 1rem;
  grid-template-areas: " logo navigation header-icon";
}
.nav-logo1 {
  text-align: center;

  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 1rem;
  grid-template-areas: " navigation logo header-icon ";
}
.nav-logo2 {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 1rem;
  grid-template-areas: " logo navigation  header-icon";
}

.link {
  text-align: center;
  width: 100%;
  text-decoration: none;
  grid-area: navigation;
}
.link a {
  color: black;
  padding: 0.5rem;
}

.header-img {
  grid-area: logo;
}
.header-icon {
  grid-area: header-icon;
}

.header {
  display: grid;
  grid-template-areas: "left-icon heading icons";
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header--top-center {
  grid-template-areas: "left-icon heading icons";
}
.header--middle-left {
  grid-template-areas: "heading navigation icons";
  grid-template-columns: auto 1fr auto;
  column-gap: 2rem;
}
@media screen and (min-width: 990px) {
  .header--top-left {
    grid-template-areas:
      "heading icons"
      "navigation navigation";
    grid-template-columns: 1fr auto;
  }
}
